<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>
</head>
<body>
  <main>
    <search-input></search-input>
    <search-results></search-results>
  </main>
  <script>
  // register components
  Vue.component('search-input', {
    template: `<p><input type='text' v-model='$root.search' /></p>`,
  });
  Vue.component('search-results', {
    template: '<section><ul><li v-for="result in $root.results">{{ result.name }}</li></ul></section>',
  });
  // launch app
  new Vue({
    el: 'main',
    // define props
    data () {
      return {
        search: 'tab',
        results: [],
      };
    },
    // define methods
    methods: {
      fetchResults (search) {
        // build api url and query it asyncronously
        axios.get(`https://demo.dataverse.org/api/search?q=${ search }`)
        // then save the results
        .then(res => this.saveResults(res.data.data.items));
      },
      saveResults (results) {
        return this.results = results;
      },
    },
    // define watchers
    watch: {
      search: {
        handler: 'fetchResults',
        immediate: true,
      },
    },
  });
  </script>
</body>
</html>
